
.white-text {
    color: #ffffff;
}

.blue-text {
    color: #268bd2;
}

.text-12p-blue {
    color: #268bd2;
    font-size: 12px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.15);
}

.banner-table {
    text-align: center;
}

.banner2 {
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: top;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.15);
}

.banner-table2 {
    text-align: top;
}

.pinout-table td {
    vertical-align: top; 
}

.pt-left {
    padding-right: 12px;
}

.pt-right {
    padding-left: 12px;
}

.pt-left-gpio {
    padding-right: 12px;
    background-color: #ADFF2F;
}

.pt-right-gpio {
    padding-left: 12px;
    background-color: #ADFF2F;
}

.pt-left-i2c {
    padding-right: 12px;
    background-color: #3CB320;
}

.pt-right-i2c {
    padding-left: 12px;
    background-color: #3CB320;
}

.pt-left-ble {
    padding-right: 12px;
    background-color: #66CDAA;
}

.pt-right-ble {
    padding-left: 12px;
    background-color: #66CDAA;
}

.pt-left-uart {
    padding-right: 12px;
    background-color: #32CD32;
}

.pt-right-uart {
    padding-left: 12px;
    background-color: #32CD32;
}

.pt-left-spi {
    padding-right: 12px;
    background-color: #00FF7F;
}

.pt-right-spi {
    padding-left: 12px;
    background-color: #00FF7F;
}

.pt-left-pwm {
    padding-right: 12px;
    background-color: #90EE90;
}

.pt-right-pwm {
    padding-left: 12px;
    background-color: #90EE90;
}

.pt-left-gpi {
    padding-right: 12px;
    background-color: #7FFF00;
}

.pt-right-gpi {
    padding-left: 12px;
    background-color: #7FFF00;
}

.content-table {
}

.content-table-sepcol {
    min-width: 20px;
}

.content-table-imgcol {
    max-width: 500px;
}

.content-table-center {
    text-align: center;
}


* {
}

.msg-txt {
    font-size: 16px;
}

.img480x320 {
    max-width: 480px;
    max-height: 320px;
}

.spec-txt {
    font-size: 18px;
}

.spec-txt-expand {
    font-size: 18px;
    min-width: 100%;
}

.descr-txt {
    font-size: 16px;
}

body {
    width: 90%;
    min-width: 720px;
    margin-left: 5%;
}

header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    padding-top: 0px;
    z-index: 1;
    margin-left: 5%;
}


header .wrap {
    max-width: 100%;
}

.logo a {
    display: block
}

.logo img {
    display: block;
    position: fixed;
    top: 15px;
    max-height: 30px;
    width: auto
}

.menu-item {
}

.main-nav {
    position: fixed;
    top: 0px;
    left: 450px;
    padding: 0 0px 0 0;
    z-index: 2;
}


.main-nav>div,
.main-nav .login-btn {
}


.main-nav li {
    display: inline-block;
    position: relative;
}


.main-nav li a {
    color: #222;
    display: inline-block;
    padding: 0 10px;
    line-height: 40px
}


.main-nav li ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #222;
    padding: 5px;
    min-width: 120px;
    text-align: right
}


.main-nav li ul li {
    display: block;
    line-height: 1.6
}

a {
    color: inherit;
}

a:hover {
    color: #b9ede8
}

.main-nav li ul li a {
    padding: 2px 10px;
    line-height: 1.6;
    display: block;
    color: #222
}


.main-nav li ul li:hover a {
    color: #1f796f
}


.main-nav li:hover>a {
    color: #b9ede8
}


.main-nav li:hover ul {
    display: block
}

.line_break {
    border: solid;  // remove default style
}

.footer {
    padding: 20px;
}

.btn {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    font-size: 18px;
    text-decoration: none !important;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    margin-right: 2px;
    line-height: 1
}

.btn.blue {
    background-color: #1f796f;
    color: #fff
}

.btn.orange {
    background-color: #c26d2f;
    color: #fff
}

.btn.blue:hover {
    background-color: #b9ede8;
}

.btn.orange:hover {
    background-color: #b9ede8;
}

.spec-table {
    width: 100%;
}

.table-content-row-b {
    background-color: #1f796f;
    font-size: 16px;
}

.table-content-row-a {
    background-color: #fff;
    font-size: 16px;
}

.table-heading-row {
    background-color: rgba(0, 0, 0, 0.15);
}
