body {
    max-width: 800px;
    font-size: 20px;
    margin-left: 40px;
}

td {
    padding-left: 10px;
}

.table-w-border {
    border: 2px solid black;
    padding: 15px;
} 

.table-w-indent {
    margin-left: 40px;
} 
